.card {
    background: #ffffff;
    border-radius: 15px;
    position: flex;
  }
  

  
  .card h4 {
    padding: 1rem;
    font-weight: 600;
    font-size: 1.25rem;
  }
  
  .card-content {
    padding: 1rem;
  }
  
  .card-content .text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  